In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('complete_df.csv')
print(df.shape)
df.tail(20)

(137, 108)

,match_id,home_team,away_team,tournament,location,neutral_loc,date,local_time,gmt_time,nz_half_points,...,opp_lineout_own_total,opp_lineout_own_perc,nz_pen_conceded,nz_freekick_conceded,opp_pen_conceded,opp_freekick_conceded,nz_yellow_card,nz_red_card,opp_yellow_card,opp_red_card
117,268591,New Zealand,Argentina,RUGBY CHAMPIONSHIP,New Plymouth,0,9 September 2017,19:35,07:35,15,...,6,0.667,6,1.0,10,0.0,1,0,0,0
118,268593,New Zealand,South Africa,RUGBY CHAMPIONSHIP,North Shore City,0,16 September 2017,19:35,07:35,31,...,14,0.643,10,3.0,11,0.0,0,0,0,0
119,294312,Australia,New Zealand,NEW ZEALAND TOUR,Brisbane,0,21 October 2017,19:00,09:00,13,...,12,0.917,11,1.0,11,2.0,0,0,0,0
120,294420,France,New Zealand,NEW ZEALAND TOUR,Stade de France,0,11 November 2017,20:45,19:45,31,...,13,1.000,14,1.0,9,2.0,1,0,1,0
121,294422,Scotland,New Zealand,NEW ZEALAND TOUR,Murrayfield,0,18 November 2017,17:15,17:15,3,...,12,1.000,15,2.0,13,1.0,2,0,0,0
122,294424,Wales,New Zealand,NEW ZEALAND TOUR,Millennium Stadium,0,25 November 2017,17:15,17:15,12,...,11,0.818,11,1.0,7,2.0,1,0,0,0
123,296319,New Zealand,France,FRANCE TOUR,Auckland,0,9 June 2018,19:35,07:35,8,...,12,0.583,9,0.0,9,1.0,0,0,1,0
124,296320,New Zealand,France,FRANCE TOUR,Wellington,0,16 June 2018,19:35,07:35,21,...,19,0.737,14,1.0,14,0.0,1,0,0,1
125,296321,New Zealand,France,FRANCE TOUR,Dunedin,0,23 June 2018,19:35,07:35,21,...,10,0.800,10,1.0,7,0.0,0,0,0,0
126,298567,Australia,New Zealand,BLEDISLOE CUP / RUGBY CHAMPIONSHIP,Sydney,0,18 August 2018,19:45,09:45,5,...,13,0.385,6,NaN,9,NaN,0,0,0,0
127,296322,New Zealand,Australia,BLEDISLOE CUP / RUGBY CHAMPIONSHIP,Auckland,0,25 August 2018,19:35,07:35,14,...,12,0.833,9,1.0,9,0.0,0,0,0,0
128,296323,New Zealand,Argentina,RUGBY CHAMPIONSHIP,Nelson,0,8 September 2018,19:35,07:35,18,...,6,0.833,7,NaN,14,NaN,0,0,0,0
129,296324,New Zealand,South Africa,RUGBY CHAMPIONSHIP,Wellington,0,15 September 2018,19:35,07:35,17,...,8,0.875,3,NaN,10,NaN,0,0,1,0
130,298575,Argentina,New Zealand,RUGBY CHAMPIONSHIP,Buenos,0,29 September 2018,19:40,22:40,21,...,16,0.688,12,1.0,11,0.0,1,0,0,0
131,298576,South Africa,New Zealand,RUGBY CHAMPIONSHIP,Pretoria,0,6 October 2018,17:05,15:05,6,...,13,0.846,9,0.0,9,2.0,0,0,0,0
132,298756,Australia,New Zealand,BLEDISLOE CUP,Yokohma,1,27 October 2018,15:00,6:00,17,...,7,0.710,6,2.0,10,2.0,0,0,1,0
133,295097,Japan,New Zealand,NEW ZEALAND TOUR,Tokyo,0,3 November 2018,14:45,05:45,38,...,8,0.625,7,0.0,9,1.0,0,0,0,0
134,296610,England,New Zealand,NEW ZEALAND TOUR,Twickenham,0,10 November 2018,15:00,15:00,10,...,15,0.667,4,0.0,7,1.0,0,0,0,0
135,299414,Ireland,New Zealand,NEW ZEALAND TOUR,Lansdowne Road,0,17 November 2018,19:00,19:00,6,...,13,0.846,11,NaN,5,NaN,0,0,0,0
136,299419,Italy,New Zealand,NEW ZEALAND TOUR,Rome,0,24 November 2018,15:00,14:00,31,...,11,0.727,7,2.0,12,0.0,0,0,0,0

In [3]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 108 columns):
match_id                  int64
home_team                 object
away_team                 object
tournament                object
location                  object
neutral_loc               int64
date                      object
local_time                object
gmt_time                  object
nz_half_points            int64
opp_half_points           int64
nz_final_score            int64
opp_final_score           int64
result                    object
nz_tries                  int64
opp_tries                 int64
nz_convers_made           int64
nz_covers_att             int64
opp_convers_made          int64
opp_covers_att            int64
nz_pen_made               int64
nz_pen_att                int64
opp_pen_made              int64
opp_pen_att               int64
nz_kick_goal_perc         float64
opp_kick_goal_perc        float64
nz_drop_goal_made         int64
nz_drop_goal_miss         int64
nz_drop_goal_att          int64
opp_drop_goal_made        int64
opp_drop_goal_miss        int64
opp_drop_goal_att         int64
nz_kicks_from_hand        int64
opp_kicks_from_hand       int64
nz_passes                 float64
opp_passes                float64
nz_runs                   int64
opp_runs                  int64
nz_metres_run_w_ball      int64
opp_metres_run_w_ball     int64
nz_possession_1h          float64
nz_possession_2h          float64
nz_possession_total       float64
opp_possession_1h         float64
opp_possession_2h         float64
opp_possession_total      float64
nz_territory_1h           float64
nz_territory_2h           float64
nz_territory_total        float64
opp_territory_1h          float64
opp_territory_2h          float64
opp_territory_total       float64
nz_clean_breaks           int64
opp_clean_breaks          int64
nz_defenders_beat         int64
opp_defenders_beat        int64
nz_offloads               int64
opp_offloads              int64
nz_rucks_total            int64
nz_rucks_won              int64
nz_rucks_lost             int64
nz_rucks_perc             float64
opp_rucks_total           int64
opp_rucks_won             int64
opp_rucks_lost            int64
opp_rucks_perc            float64
nz_maul_total             int64
nz_maul_won               int64
nz_maul_lost              int64
nz_maul_perc              float64
opp_maul_total            int64
opp_maul_won              int64
opp_maul_lost             int64
opp_maul_perc             float64
nz_turnovers_conceded     int64
opp_turnovers_conceded    int64
nz_tackles_made           int64
nz_tackles_miss           int64
nz_tackles_total          int64
nz_tackles_perc           float64
opp_tackles_made          int64
opp_tackles_miss          int64
opp_tackles_total         int64
opp_tackles_perc          float64
nz_scrums_own_won         int64
nz_scrums_own_lost        int64
nz_scrums_own_total       int64
nz_scrums_own_perc        float64
opp_scrums_own_won        int64
opp_scrums_own_lost       int64
opp_scrums_own_total      int64
opp_scrums_own_perc       float64
nz_lineout_own_won        int64
nz_lineout_own_lost       int64
nz_lineout_own_total      int64
nz_lineout_own_perc       float64
opp_lineout_own_won       int64
opp_lineout_own_lost      int64
opp_lineout_own_total     int64
opp_lineout_own_perc      float64
nz_pen_conceded           int64
nz_freekick_conceded      float64
opp_pen_conceded          int64
opp_freekick_conceded     float64
nz_yellow_card            int64
nz_red_card               int64
opp_yellow_card           int64
opp_red_card              int64
dtypes: float64(28), int64(72), object(8)
memory usage: 115.7+ KB

In [4]:
df['date'] = pd.to_datetime(df['date'])
df.date.head()

0   2008-06-21
1   2008-07-05
2   2008-07-12
3   2008-07-26
4   2008-08-02
Name: date, dtype: datetime64[ns]

In [5]:
print(df.date.min())

print(df.date.max())

2008-06-21 00:00:00
2018-11-24 00:00:00

In [6]:
nulls = df.isnull().sum()

In [7]:
nulls[nulls.values > 0]

nz_passes                 8
opp_passes                8
nz_possession_1h         29
nz_possession_2h         29
nz_possession_total      19
opp_possession_1h        29
opp_possession_2h        29
opp_possession_total     19
nz_territory_1h          32
nz_territory_2h          32
nz_territory_total       22
opp_territory_1h         32
opp_territory_2h         32
opp_territory_total      22
nz_maul_perc             20
opp_maul_perc            11
nz_freekick_conceded     90
opp_freekick_conceded    90
dtype: int64

In [8]:
df.result.value_counts()

W    117
L     17
D      3
Name: result, dtype: int64

In [9]:
df.tail()

,match_id,home_team,away_team,tournament,location,neutral_loc,date,local_time,gmt_time,nz_half_points,...,opp_lineout_own_total,opp_lineout_own_perc,nz_pen_conceded,nz_freekick_conceded,opp_pen_conceded,opp_freekick_conceded,nz_yellow_card,nz_red_card,opp_yellow_card,opp_red_card
132,298756,Australia,New Zealand,BLEDISLOE CUP,Yokohma,1,2018-10-27,15:00,6:00,17,...,7,0.710,6,2.0,10,2.0,0,0,1,0
133,295097,Japan,New Zealand,NEW ZEALAND TOUR,Tokyo,0,2018-11-03,14:45,05:45,38,...,8,0.625,7,0.0,9,1.0,0,0,0,0
134,296610,England,New Zealand,NEW ZEALAND TOUR,Twickenham,0,2018-11-10,15:00,15:00,10,...,15,0.667,4,0.0,7,1.0,0,0,0,0
135,299414,Ireland,New Zealand,NEW ZEALAND TOUR,Lansdowne Road,0,2018-11-17,19:00,19:00,6,...,13,0.846,11,NaN,5,NaN,0,0,0,0
136,299419,Italy,New Zealand,NEW ZEALAND TOUR,Rome,0,2018-11-24,15:00,14:00,31,...,11,0.727,7,2.0,12,0.0,0,0,0,0

In [10]:
def opponent_fxn(lst):
    if lst[0] == 'New Zealand':
        return lst[1]
    else:
        return lst[0]

In [11]:
df['opp'] = df[['home_team', 'away_team']].apply(lambda x: opponent_fxn(x), axis=1)

In [12]:
df.opp.head()

0         England
1    South Africa
2    South Africa
3       Australia
4       Australia
Name: opp, dtype: object

In [13]:
df['point_diff'] = df.nz_final_score - df.opp_final_score

In [15]:
df['turnover_diff'] = df.nz_turnovers_conceded - df.opp_turnovers_conceded

In [16]:
df['nz_2half_points'] = df['nz_final_score'] - df['nz_half_points']
df['opp_2half_points'] = df['opp_final_score'] - df['opp_half_points']

In [19]:
df.columns.tolist()

['match_id',
 'home_team',
 'away_team',
 'tournament',
 'location',
 'neutral_loc',
 'date',
 'local_time',
 'gmt_time',
 'nz_half_points',
 'opp_half_points',
 'nz_final_score',
 'opp_final_score',
 'result',
 'nz_tries',
 'opp_tries',
 'nz_convers_made',
 'nz_covers_att',
 'opp_convers_made',
 'opp_covers_att',
 'nz_pen_made',
 'nz_pen_att',
 'opp_pen_made',
 'opp_pen_att',
 'nz_kick_goal_perc',
 'opp_kick_goal_perc',
 'nz_drop_goal_made',
 'nz_drop_goal_miss',
 'nz_drop_goal_att',
 'opp_drop_goal_made',
 'opp_drop_goal_miss',
 'opp_drop_goal_att',
 'nz_kicks_from_hand',
 'opp_kicks_from_hand',
 'nz_passes',
 'opp_passes',
 'nz_runs',
 'opp_runs',
 'nz_metres_run_w_ball',
 'opp_metres_run_w_ball',
 'nz_possession_1h',
 'nz_possession_2h',
 'nz_possession_total',
 'opp_possession_1h',
 'opp_possession_2h',
 'opp_possession_total',
 'nz_territory_1h',
 'nz_territory_2h',
 'nz_territory_total',
 'opp_territory_1h',
 'opp_territory_2h',
 'opp_territory_total',
 'nz_clean_breaks',
 'opp_clean_breaks',
 'nz_defenders_beat',
 'opp_defenders_beat',
 'nz_offloads',
 'opp_offloads',
 'nz_rucks_total',
 'nz_rucks_won',
 'nz_rucks_lost',
 'nz_rucks_perc',
 'opp_rucks_total',
 'opp_rucks_won',
 'opp_rucks_lost',
 'opp_rucks_perc',
 'nz_maul_total',
 'nz_maul_won',
 'nz_maul_lost',
 'nz_maul_perc',
 'opp_maul_total',
 'opp_maul_won',
 'opp_maul_lost',
 'opp_maul_perc',
 'nz_turnovers_conceded',
 'opp_turnovers_conceded',
 'nz_tackles_made',
 'nz_tackles_miss',
 'nz_tackles_total',
 'nz_tackles_perc',
 'opp_tackles_made',
 'opp_tackles_miss',
 'opp_tackles_total',
 'opp_tackles_perc',
 'nz_scrums_own_won',
 'nz_scrums_own_lost',
 'nz_scrums_own_total',
 'nz_scrums_own_perc',
 'opp_scrums_own_won',
 'opp_scrums_own_lost',
 'opp_scrums_own_total',
 'opp_scrums_own_perc',
 'nz_lineout_own_won',
 'nz_lineout_own_lost',
 'nz_lineout_own_total',
 'nz_lineout_own_perc',
 'opp_lineout_own_won',
 'opp_lineout_own_lost',
 'opp_lineout_own_total',
 'opp_lineout_own_perc',
 'nz_pen_conceded',
 'nz_freekick_conceded',
 'opp_pen_conceded',
 'opp_freekick_conceded',
 'nz_yellow_card',
 'nz_red_card',
 'opp_yellow_card',
 'opp_red_card',
 'opp',
 'point_diff',
 'turnover_diff',
 'nz_2half_points',
 'opp_2half_points']

In [21]:
tourney_renames = {"NEW ZEALAND TOUR": "November Series",
                    "RUGBY CHAMPIONSHIP": "Rugby Championship (Tri Nations)",
                    "TRI NATIONS": "Rugby Championship (Tri Nations)",
                    "FRANCE TOUR": "June Series",
                    "RUGBY WORLD CUP": "Rugby World Cup",
                    "ENGLAND TOUR": "June Series",
                    "IRELAND TOUR": "June Series",
                    "RUGBY WORLD CUP , Pool A": "Rugby World Cup",
                    "RUGBY WORLD CUP , Pool C": "Rugby World Cup",
                    "AUSTRALIA TOUR / NEW ZEALAND TOUR": "November Series",
                    "AUSTRALIA TOUR": "Bledisloe Cup",
                    "BRITISH AND IRISH LIONS TOUR": "June Series",
                    "WALES TOUR": "June Series",
                    "BLEDISLOE CUP / RUGBY CHAMPIONSHIP": "Bledisloe Cup",
                    "BLEDISLOE CUP": "Bledisloe Cup",
                    "IRELAND TOUR / NEW ZEALAND TOUR": "November Series",
                    "ITALY TOUR": "June Series"}

df['test_type'] = df.tournament.apply(lambda x: tourney_renames[x])

df.test_type.value_counts()

Rugby Championship (Tri Nations)    55
November Series                     40
June Series                         22
Rugby World Cup                     14
Bledisloe Cup                        6
Name: test_type, dtype: int64

In [22]:
## per wikipedia articles, these are the official bledisloe cup matches  
## https://en.wikipedia.org/wiki/Bledisloe_Cup#Matches

bled_mask = [132, 127, 126, 119, 116, 115, 109, 105, 97, 96, 88, 83, 82, 74, 69, 68, 90, 55, \
             54, 43, 41, 35, 34, 32, 31, 21, 20, 18, 15, 7, 6, 4, 3]

bled_mask.sort()

df.loc[bled_mask, 'test_type'] ='Bledisloe Cup'

df.test_type.value_counts()

Rugby Championship (Tri Nations)    34
November Series                     34
Bledisloe Cup                       33
June Series                         22
Rugby World Cup                     14
Name: test_type, dtype: int64

In [23]:
def map_fxn(lst):
    if lst[1] == 1:
        return 'neutral'
    elif lst[0] == 'New Zealand':
        return 'home'
    else:
        return 'away'
    
df['local_adv'] = df[['home_team', 'neutral_loc']].apply(lambda x: map_fxn(x), axis=1)

In [24]:
df['nz_metres_run_per_pass'] = df['nz_metres_run_w_ball']/(df['nz_passes']+df['nz_offloads'])
df['opp_metres_run_per_pass'] = df['opp_metres_run_w_ball']/(df['opp_passes']+df['opp_offloads'])

df['nz_avg_run_dist'] = df['nz_metres_run_w_ball']/(df['nz_runs'])
df['opp_avg_run_dist'] = df['opp_metres_run_w_ball']/(df['opp_runs'])

df['nz_passes_per_phase'] = df['nz_passes']/(df['nz_rucks_total']+df['nz_turnovers_conceded'])
df['nz_offloads_per_phase'] = df['nz_offloads']/(df['nz_rucks_total']+df['nz_turnovers_conceded'])

df['opp_passes_per_phase'] = df['opp_passes']/(df['opp_rucks_total']+df['opp_turnovers_conceded'])
df['opp_offloads_per_phase'] = df['opp_offloads']/(df['opp_rucks_total']+df['opp_turnovers_conceded'])

df['nz_metres_per_phase'] = df['nz_metres_run_w_ball']/(df['nz_rucks_total']+df['nz_turnovers_conceded'])
df['opp_metres_per_phase'] = df['opp_metres_run_w_ball']/(df['opp_rucks_total']+df['opp_turnovers_conceded'])

df['nz_creative_attacks'] = df['nz_clean_breaks']+df['nz_defenders_beat']+df['nz_offloads']
df['opp_creative_attacks'] = df['opp_clean_breaks']+df['opp_defenders_beat']+df['opp_offloads']

In [41]:
def breakaway_fxn(lst):
    if lst[1] == 0:
        return 0
    else:
        return lst[0]/lst[1]


df['nz_breakaway_conv'] = df[['nz_tries','nz_clean_breaks']].apply(lambda x: breakaway_fxn(x), axis=1)
df['opp_breakaway_conv'] = df[['opp_tries','opp_clean_breaks']].apply(lambda x: breakaway_fxn(x),axis=1)

In [25]:
df['opp_rundist_ratio'] = df.opp_metres_run_w_ball / df.nz_metres_run_w_ball

In [27]:
dfW = df[df.result == 'W']
dfL = df[df.result != 'W']

print('Wins DF shape: ', dfW.shape)
print('Loses DF shape: ', dfL.shape)

Wins DF shape:  (117, 130)
Loses DF shape:  (20, 130)

In [43]:
pd.set_option('display.max_rows', 1000) 

df[['nz_tries', 'nz_clean_breaks', 'nz_breakaway_conv', 'opp_tries', 'opp_clean_breaks', 'opp_breakaway_conv']]

,nz_tries,nz_clean_breaks,nz_breakaway_conv,opp_tries,opp_clean_breaks,opp_breakaway_conv
0,5,4,1.250000,2,2,1.000000
1,1,2,0.500000,1,3,0.333333
2,1,2,0.500000,2,5,0.400000
3,3,9,0.333333,4,4,1.000000
4,4,3,1.333333,1,5,0.200000
5,3,1,3.000000,0,5,0.000000
6,4,8,0.500000,3,1,3.000000
7,2,4,0.500000,2,2,1.000000
8,4,7,0.571429,0,6,0.000000
9,4,6,0.666667,0,1,0.000000
10,2,0,0.000000,0,2,0.000000
11,3,4,0.750000,0,1,0.000000
12,2,2,1.000000,3,1,3.000000
13,1,4,0.250000,1,3,0.333333
14,3,16,0.187500,0,5,0.000000
15,1,1,1.000000,1,3,0.333333
16,1,3,0.333333,2,3,0.666667
17,1,6,0.166667,1,4,0.250000
18,1,4,0.250000,0,4,0.000000
19,2,5,0.400000,2,4,0.500000
20,3,7,0.428571,0,2,0.000000
21,2,7,0.285714,1,5,0.200000
22,1,13,0.076923,0,4,0.000000
23,1,3,0.333333,0,3,0.000000
24,1,5,0.200000,0,3,0.000000
25,5,18,0.277778,0,6,0.000000
26,9,16,0.562500,4,4,1.000000
27,5,16,0.312500,0,2,0.000000
28,2,11,0.181818,1,3,0.333333
29,4,4,1.000000,0,0,0.000000
30,4,4,1.000000,2,3,0.666667
31,7,0,0.000000,3,2,1.500000
32,2,2,1.000000,1,2,0.500000
33,3,0,0.000000,1,2,0.500000
34,2,4,0.500000,2,3,0.666667
35,3,10,0.300000,4,8,0.500000
36,2,4,0.500000,1,1,1.000000
37,7,7,1.000000,0,0,0.000000
38,4,2,2.000000,2,2,1.000000
39,5,8,0.625000,1,2,0.500000
40,6,4,1.500000,1,2,0.500000
41,3,4,0.750000,2,5,0.400000
42,1,6,0.166667,0,1,0.000000
43,2,4,0.500000,3,5,0.600000
44,6,6,1.000000,1,1,1.000000
45,13,9,1.444444,1,2,0.500000
46,5,7,0.714286,2,4,0.500000
47,12,7,1.714286,2,0,0.000000
48,2,3,0.666667,1,3,0.333333
49,1,3,0.333333,0,2,0.000000
50,1,2,0.500000,1,4,0.250000
51,5,20,0.250000,1,2,0.500000
52,1,3,0.333333,1,1,1.000000
53,9,16,0.562500,0,3,0.000000
54,2,8,0.250000,1,3,0.333333
55,1,8,0.125000,0,1,0.000000
56,2,8,0.250000,1,0,0.000000
57,2,3,0.666667,1,2,0.500000
58,7,10,0.700000,2,5,0.400000
59,4,8,0.500000,1,2,0.500000
60,0,4,0.000000,0,2,0.000000
61,6,11,0.545455,3,3,1.000000
62,5,9,0.555556,1,3,0.333333
63,3,8,0.375000,2,7,0.285714
64,3,7,0.428571,3,10,0.300000
65,2,7,0.285714,1,9,0.111111
66,3,13,0.230769,0,5,0.000000
67,2,7,0.285714,0,3,0.000000
68,6,7,0.857143,2,8,0.250000
69,2,6,0.333333,1,3,0.333333
70,3,6,0.500000,1,3,0.333333
71,4,3,1.333333,2,3,0.666667
72,4,6,0.666667,0,2,0.000000
73,5,9,0.555556,4,14,0.285714
74,4,9,0.444444,3,8,0.375000
75,8,14,0.571429,0,2,0.000000
76,2,2,1.000000,1,5,0.200000
77,3,5,0.600000,1,0,0.000000
78,3,6,0.500000,3,3,1.000000
79,1,5,0.200000,0,8,0.000000
80,3,11,0.272727,3,7,0.428571
81,5,14,0.357143,1,7,0.142857
82,0,1,0.000000,0,0,0.000000
83,7,14,0.500000,2,4,0.500000
84,4,5,0.800000,0,1,0.000000
85,1,7,0.142857,1,7,0.142857
86,4,15,0.266667,1,13,0.076923
87,3,15,0.200000,3,10,0.300000
88,4,6,0.666667,3,7,0.428571
89,12,26,0.461538,0,5,0.000000
90,3,9,0.333333,3,4,0.750000
91,2,5,0.400000,1,6,0.166667
92,5,10,0.500000,1,5,0.200000
93,1,7,0.142857,1,7,0.142857
94,5,15,0.333333,2,3,0.666667
95,3,7,0.428571,2,10,0.200000
96,2,9,0.222222,3,8,0.375000
97,6,18,0.333333,1,5,0.200000
98,2,12,0.166667,1,4,0.250000
99,9,10,0.900000,1,1,1.000000
100,7,12,0.583333,1,2,0.500000
101,7,8,0.875000,0,2,0.000000
102,9,14,0.642857,1,7,0.142857
103,2,5,0.400000,0,3,0.000000
104,3,19,0.157895,2,4,0.500000
105,4,18,0.222222,0,3,0.000000
106,8,12,0.666667,1,6,0.166667
107,6,12,0.500000,1,6,0.166667
108,9,24,0.375000,0,3,0.000000
109,6,14,0.428571,1,6,0.166667
110,4,8,0.500000,5,5,1.000000
111,3,11,0.272727,0,4,0.000000
112,3,12,0.250000,2,15,0.133333
113,0,1,0.000000,2,6,0.333333
114,2,9,0.222222,0,2,0.000000
115,8,27,0.296296,4,13,0.307692
116,5,17,0.294118,5,9,0.555556
117,6,13,0.461538,1,2,0.500000
118,8,15,0.533333,0,4,0.000000
119,2,9,0.222222,3,6,0.500000
120,5,15,0.333333,3,8,0.375000
121,3,15,0.200000,2,9,0.222222
122,5,18,0.277778,2,9,0.222222
123,8,17,0.470588,1,9,0.111111
124,4,14,0.285714,1,15,0.066667
125,7,13,0.538462,2,8,0.250000
126,6,23,0.260870,1,17,0.058824
127,6,22,0.272727,2,13,0.153846
128,6,24,0.250000,3,14,0.214286
129,6,19,0.315789,5,9,0.555556
130,5,15,0.333333,2,8,0.250000
131,4,4,1.000000,3,8,0.375000
132,5,16,0.312500,2,14,0.142857
133,10,18,0.555556,5,11,0.454545
134,1,14,0.071429,2,5,0.400000
135,0,5,0.000000,1,6,0.166667
136,10,27,0.370370,0,4,0.000000

In [48]:
sum(dfW.nz_breakaway_conv)

inf

In [45]:
dfL.nz_breakaway_conv.describe()

count    20.000000
mean      0.290551
std       0.236300
min       0.000000
25%       0.166667
50%       0.261111
75%       0.407143
max       1.000000
Name: nz_breakaway_conv, dtype: float64

In [49]:
df.to_csv('clean_df_complete.csv', index=False)